@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap');
* {
    margin: 0;
    padding: 0;
    border: none;
}
header {
    background-color: rgb(176, 180, 184,.7);
}
header a {
text-decoration: none;
}
body {
    font-family: lato, Helvetica, sans-serif;
    font-weight: 300;
    color: r#3a3a3a;
}
h1, h2 {

    color: #3a3a3a;
    font-family: sans-serif;
    text-transform: uppercase;
    letter-spacing: 4px;


}
#logo {
    float: left
    font: size 280%;
    margin-left: 30px;
    margin-bottom: 10px;

   
}
#menu, #logo {
    line-height: 80px;
}
#menu {
    font-size: 110%;
    letter-spacing: 2px;

}
#menu li {
    float: right;
    list-style-type: none;
    margin-right: 30px;
    
}
#menu a {
    text-decoration: none;
    color: inherit;

}
#menu a:hover {
    border-bottom: 1px solid hsl(0, 0%, 23%)
    
}
#hero-image {
    height: 700px;
    width: 100%;
    display: block;
    

    
    
    
    background: url(../images/hero-image2.jpg) no-repeat center center;

    animation-name: hero-zoom;
    animation-duration: 4s;
    animation-fill-mode: backwards;

}
#hero-other
{ height: 600px;
    width: 100px;
    overflow: hidden;


}
@keyframes hero-zoom {
    from{
        transform: scale(1);
    }
    to{
        transform: scale(1.1);
    }
}
#cover-text #cover-text h2 {
    color: #fff;
}
#cover-text {
    font-size: 130%;
    font-family: sans-serif;
    text-transform: uppercase;
    letter-spacing: 4px;

    width: 300px;
    height: 200px;

    padding-top:  40px;
    padding-left: 10px;

    background-color: rgba(241,109,107,.7);

    bottom: 30px;
    right: 150px;

    position: absolute;
}
#current-situation {
    padding-top: 30px;
    padding-left: 30px;
    
    height: 600px;
    background-color: rgb(83, 161, 93,.7);
    
}
#left {
    padding-top: 30px;
    width: 33%;
    float: left;
}
#block2 {

width: 57%;
float: right;
border-style: solid;
border-color: #3a3a3a;
background-color: #fff;
height: 450px;
}
.text {
    line-height: 20px;
    width: 100%;
    clear: both;

}
#wellcome {
text-align: left;
margin-top: 20px;
}
#second-image {
    background: url(../images/second-image.jpg)no-repeat center center;
    height: 100%;
    margin-top: 0;
    
}
#causes {
    padding-top: 30px;
    padding-left: 30px;
    
    height: 600px;
    background-color: rgb(173, 144, 144)
}
#block-right {
    padding-top: 30px;
    width: 33%;
    float: right;
    margin-right: 30px;
}
.p1 {
    line-height: 20px;
    width: 100%;
    clear: both;
    margin-top: 20px;
}
#block3 {
    width: 57%;
    float: left;
    border-style: solid;
    border-color: #3a3a3a;
    background-color: #fff;
    height: 450px;

    background: url(../images/third-image\ Small.png) no-repeat center center;
    
    
    }

#reasons {
    padding-top: 30px;
    padding-left: 30px;
    
    height: 600px;
    background-color: rgba(146, 160, 148, 0.7);

}
#block4 {
    padding-top: 30px;
    width: 33%;
    float: left;
    margin-right: 30px;

}