/* Importing font from Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap');

/* Resetting default styles for all elements */
* {
    margin: 0;
    padding: 0;
    border: none;
}

/* Header styles */
header {
    display: inline-block;
    width: 100%; 
}

header .logo-main {
    display: inline-block;
}

header nav {
    float: right;
    font-weight: bold;
}

header a {
text-decoration: none;
}

/* Body styles */
body {
    font-family: lato, Helvetica, sans-serif;
    font-weight: 300;
    color:#3a3a3a;
}

/* Heading styles */
h1, h2 {

    color: #3a3a3a;
    font-family: sans-serif;
    text-transform: uppercase;
    letter-spacing: 4px;
}

/* Logo styles */
#logo {
    float: left;
    margin-left: 30px;
    margin-bottom: 10px;
}

#menu, #logo {
    line-height: 80px;
}

#menu {
    font-size: 110%;
    letter-spacing: 2px;
}

#menu li {
    float: right;
    list-style-type: none;
    margin-right: 30px;  
}

#menu a {
    text-decoration: none;
    color: inherit;
}

#menu a:hover {
    border-bottom: 1px solid hsl(0, 0%, 23%)
}

/* Hero section styles */
#hero-image {
    height: 700px;
    width: 100%;
    display: block;
    background: url(../images/hero-image.jpeg) no-repeat center center fixed;
    background-size: cover;
    animation-name: hero-zoom;
    animation-duration: 4s;
    animation-fill-mode: backwards;
}

#hero-other
{ height: 600px;
    width: 100px;
    overflow: hidden;
}

/* hero-image-zoom */
@keyframes hero-zoom {
    from{
        transform: scale(1);
    }
    to{
        transform: scale(1.1);
    }
}

#cover-text #cover-text h2 {
    color: #fff;
}

#cover-text {
    font-size: 130%;
    font-family: sans-serif;
    text-transform: uppercase;
    letter-spacing: 4px;
    width: 300px;
    height: 200px;
    padding-top:  40px;
    padding-left: 10px;
    background-color: rgba(241,109,107,.7);
    bottom: 30px;
    right: 150px;
    top: 264px;
    position: absolute;
}

/* Current situation section styles */
#current-situation {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 50px 0; 
    background-color: rgb(83, 161, 93,.7); 
}

.content-box {
    flex: 1;
    min-width: 300px; 
    margin: 10px;
}

.text-box {
    padding: 20px;
    text-align: left;
}

.text-box h2 {
    margin-bottom: 20px;
    text-align: center;
}

.text {
    margin-top: 10px; 
    font-size: 1.2em;
    line-height: 1.6;
}
.text p {
    margin-bottom: 15px;
    font-weight: bold;
}
.image-box {
    display: flex;
    justify-content: center;
    align-items: center;
}

.image {
    background-size: cover;
    background-position: center;
    height: 400px; 
    width: 100%; 
}
#causes {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 50px 0; 
    background-color: rgb(173, 144, 144); 
}

#reasons {
    background-color: rgba(146, 160, 148, 0.7);
    text-align: center;
    padding: 50px 0;
}

#reasons .content-box {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

#reasons .section-heading {
    color: #3a3a3a;
    font-family: sans-serif;
    text-transform: uppercase;
    letter-spacing: 4px;
    margin-bottom: 20px;
}

#reasons .text p {
    text-align: justify;
    line-height: 1.5em;
    margin-bottom: 15px;
}

.video-wrapper {
    display: flex;
    justify-content: center;
    margin-top: 30px;
}
.video-wrapper iframe {
    width: 100%;
    height: 500px; 
}
#button {
    margin-top: 20px;
}
.sing-up-link {
    background-color: rgba(146, 160, 148, 0.7);
    padding: 10px;
}

/* footer */

footer {
    background-color: #f5f5f5; 
    padding: 20px 0; 
    text-align: center; 
}

/* Adjust social network icons */

.social-networks {
    text-align: center;
    margin-top: 10px; 
}

.social-networks > li {
    display: inline-block; 
    margin: 0 10px;
}

.social-networks i {
    font-size: 24px;
    color: #3a3a3a;
}

/* Copyright text styles */

#copyrights {
    font-size: 14px; 
    color: #666; 
    margin-top: 10px; 
}
   
.form-section {
    text-align: center;
    padding: 30px;
    display: block;
}

iframe {
    width: 100%;
    height: 400px;
}

/* solutions css */

#solutions-title .image {
    background-size: cover;
    background-position: center;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

#solutions-title .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center; 
    align-items: flex-start;
    padding: 20px;
}

#solutions-title .overlay .cloud-text {
    margin: 0;
    padding-left: 3%;
    font-size: 33px; 
    font-weight: bold; 
    color: #3a3a3a; 
}

#solutions-title h1 {
    margin: 0;
}

#solutions-list {
    background-color: rgb(155, 154, 154, 0.65); 
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 30px;
}

.tree {
    padding-bottom: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.office {
    padding-bottom: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.awareness {
    padding-bottom: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.vegetables {
    padding-bottom: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#solutions-list p {
    text-align: center;
}

#solutions-list img {
    width: 650px;
}

#solutions-list h3 {
    text-align: center;
    margin-bottom: 10px; 
    margin-top: 10px;
    font-size: 1.2em;
    line-height: 1.6;
}

#solutions-list p {
    font-weight: bold; 
    text-align: center;
    margin-top: 10px;
    font-size: large;
}

#heading-two {
    padding: 30px;
    font-size: 170%;
    text-align: center;
}

/* form css */
 
.form-text {
    text-align: center;
    font-size: larger;
    line-height: 2em;
    padding:0;
}
form {
    
    background: rgba(100, 93, 82, 0.479);
    width: 37%;
    margin-left: auto;
    margin-right: auto;
    padding: 30px;
    height: 400px;
}
.form-section {
    
color: #fff;
background: url(../images/plants-image.jpg) no-repeat center center;
background-size: cover;
min-height: 600px;

 }
.form-heading {
    color: #fff;
    padding-top: 20px;
    padding-bottom: 20px;
}
.form-text input {

    cursor: pointer;
    padding: 5px 10px;
    border-radius: 10px;
}
.form-text label {
    text-align: right;
    display: inline-block;
    width: 130px;
}
#sign-up {
   margin-top: 20px;
}
.inner-reasons {
    min-height: 450px;
}
#button {
    display: block;
    margin: auto;
    padding: 20px;
    font-size: 100%;
    font-family: inherit;
    background-color: #202020;
    color: #FDF5E6;
    border-radius: 25% 10%;
    text-transform: uppercase;
    font-weight: 600;
    width: 200px;
     text-align: center;
    text-decoration: none;
    
}

    /* Media quries */

    @media screen and (max-width:1400px) {

        #solutions-list .solutions-list-div.right {
            margin-top: 0px;
        }

    }
    @media screen and (max-width:900px) {

        #left {
            width: 96%;
            float: none;
        }
        #block2 {
            width: 100%;
            float: none;
            margin-right: 0px;
            margin-left: 0px;
        }
        #block3 {
            width: 100%;
            float: none;
            margin-right: 0px;
            margin-left: 0px;
        }
        #block-right {
            width: 100%;
            float: none;
            margin: 0;

        }
        #causes {
            display: table-cell;
            background-color: rgb(173, 144, 144);
        }
        #reasons #block4 {
            width: 100%;
            float: none;
            margin-right: 0px;
            margin-left: 0px;
            
        }
        #reasons {
            height: 100%;
            padding: 30px;
        }
        #reasons #left-about {
            width: 100%;
        }
       #button {
        margin-top: 50px;

       }
       #video-div {
        width: 100%;
       }
       #solutions-list img{
        width: 100%;

    }
    }
       @media screen and (max-width:700px)
       {

      form {
             background: rgba(100, 93, 82, 0.479);
              margin-left: auto;
            margin-right: auto;
            width: 70%;
            }
       }
       @media screen and (max-width:800px)
       { 
        #menu {
        display: none;
       } 
    }

       @media screen and (max-width:500px) {
        #cover-text{
            right:0;

        }
        #hero-image {
            height: 400px;
        }
        header nav {
            float: none;
            width: 100%;
            display: block;
        }
        #menu li {
            float: right;
            list-style-type: none;
            margin-right: 10px;   
        }
        h1 {
            letter-spacing: 1px;
            font-size: 160%;
        }
        #solutions-text{
        margin-top: 38%;
    margin-right: 31%;
           }
           .form-text label {
            text-align: right;
            display: inline-block;
            font-size: medium;
        }
        #copyrights {
            font-size: small;
    }
    @media screen and (max-width:400px)
          {
            #header a {
                font-size: 12px;   
                }
          #logo {
            line-height: 77px;
            margin-left: 10px;
            }
          #cover-text {
            margin-right: 15px;
            font-size: 119%;
            font-family: sans-serif;
            text-transform: uppercase;
            letter-spacing: 4px;
            width: 240px;
            height: 162px;
            padding-top: 40px;
            padding-left: 22px;
            padding-right: 10p;
            background-color: rgba(241,109,107,.7);
            bottom: 30px;
            top: 264px;
            position: absolute;
        }
      
    }
